.header {
 padding: 20px 0 24px 0;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 z-index: 6;
 background-color: transparent;

 @media screen and (max-width: 768px) {}

 &__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 &__logo {
  flex: 0 0 74px;
  margin-right: 30px;
  height: 43px;
  padding-top: 5px;
  z-index: 7;

  @media screen and (max-width: 768px) {
   padding-top: 0;
  }
 }

 &::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #575555;
  z-index: 8;
 }
}

.menu {
 @media screen and (max-width: 768px) {
  padding: 200px 0 30px 0;
  position: fixed;
  background-color: var(--bg-dark);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: .5s all ease;
  overflow-y: auto;

  &::before {
   content: "";
   top: 0;
   width: 100%;
   height: 85px;
   position: fixed;
   display: block;
   z-index: 20;
  }
 }



 &.menu--active {
  visibility: visible;
  opacity: 1;
 }

 &__list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 35px;
  row-gap: 10px;
  max-width: 700px;

  @media screen and (max-width: 768px) {
   grid-template-columns: 1fr;
   align-items: center;
   justify-items: center;
   row-gap: 36px;
  }
 }

 &__link {
  font-size: 16px;
  color: var(--light-color);
  position: relative;
  transition: .5s all ease;

  &::before,
  &::after {
   content: "";
   position: absolute;
   width: 0;
   height: 1px;
   background-color: var(--primary-color);
   transition: .5s all ease;
  }

  &::before {
   top: 0;
   right: 0;
  }

  &::after {
   bottom: 0;
   left: 0;
  }


  &:hover {
   color: var(--primary-color);

   &::before,
   &::after {
    width: 100%;
   }
  }

  @media screen and (max-width: 768px) {
   font-size: 24px;
  }
 }
}

.burger {
 @include burger;
 z-index: 5;
 display: none;

 @media screen and (max-width: 768px) {
  display: block;
 }
}