<header class="header">
 <div class="container">
  <div class="header__inner">
   <a href="#" class="logo header__logo">
    <img width="74" height="43" src="img/logo.png" alt="FUELWELL">
   </a>
   <nav class="menu header__menu" data-menu>
    <ul class="menu__list">
                            <li><a data-goto=".device" href="#" class="menu__link"> About </a></li>
                            <li><a data-goto=".benefits" href="" class="menu__link"> Benefits </a></li>
                            <li><a data-goto=".reports" href="#" class="menu__link"> Certificates </a></li>
                            <li><a data-goto=".reports" href="#" class="menu__link"> Reviews </a></li>
                            <li><a data-goto=".cooperation" href="#" class="menu__link"> Cooperation </a></li>
                            <li><a data-goto=".footer" href="#" class="menu__link"> Contacts </a></li>
    </ul>
   </nav>
   <button class="burger" data-burger>
    <span class="burger__line"></span>
   </button>
  </div>
 </div>
</header>