.cooperation {
 @include adaptiv-value(margin-bottom, 150, 60, 1);
 position: relative;

 &::before {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  right: 0;
  width: 100%;
  max-width: 421px;
  height: 421px;
  background: rgba(0, 213, 228, 1);
  filter: blur(200px);
  z-index: -1;
  border-radius: 50%;

  @media screen and (max-width: 576px) {
   top: 5%;
  }

  @media screen and (max-width: 475px) {
   max-width: 321px;
   height: 321px;
  }
 }

 &__contact {
  margin-bottom: 0;
  display: none;
  text-align: center;

  & p {
   margin-bottom: 20px;
  }

  &.active {
   display: block;
  }
 }


 &__callback {
  text-align: center;
  @include adaptiv-value(margin-bottom, 140, 50, 1);

  &-title {
   color: var(--primary-color);
   font-weight: 900;
   margin-bottom: 19px;
  }

  &-head {
   @include adaptiv-value(margin-bottom, 40, 25, 1);
  }
 }



 &__form {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;

  @media screen and (max-width: 576px) {
   grid-template-columns: 1fr;
  }

  &-btn {
   @media screen and (max-width: 850px) {
    max-width: 100%;
    grid-column: span 2;
   }

   @media screen and (max-width: 576px) {
    grid-column: span 1;
   }
  }
 }

 &__title {
  font-weight: 900;
  text-align: center;
  @include adaptiv-value(margin-bottom, 60, 30, 1);
 }

 &__inner {
  display: grid;
  grid-template-columns: repeat(3, minmax(310px, 1fr));
  gap: 30px;
  counter-reset: counter;
  @include adaptiv-value(margin-bottom, 70, 25, 1);

  @media screen and (max-width: 1024px) {
   grid-template-columns: 1fr;
   gap: 50px;
  }
 }

 &__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  &-bottom {
   flex-direction: column-reverse;
  }


  &-undered {
   padding-top: 40px;
  }
 }

 &__img {
  align-self: flex-end;

  @media screen and (max-width: 1024px) {
   position: absolute;
   max-width: 60px;
  }


  &-bottom {
   margin-top: 10px;

   @media screen and (max-width: 1024px) {
    right: 10%;
    transform: translate(0, 75%) rotate(-90deg) scaleX(-1);
    bottom: 0;
   }
  }

  &-top {
   @media screen and (max-width: 1024px) {
    left: 10%;
    transform: translate(0, 80%) rotate(240deg) scaleX(-1);
    bottom: 0;
   }
  }
 }

 &__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 88px 30px 20px 30px;
  min-height: 260px;
  position: relative;

  &::before {
   content: "step "counter(counter);
   counter-increment: counter;
   text-transform: uppercase;
   font-weight: 900;
   @include adaptiv-value(font-size, 35, 24, 1);
   color: var(--primary-color);
   top: 30px;
   position: absolute;
  }

  & p {
   margin-bottom: 20px;
   line-height: 140%;
  }
 }




 &__link {
  max-width: 240px;
 }
}