.device {
 @include adaptiv-value(margin-bottom, 135, 60, 1);
 position: relative;

 &::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  transform: translateY(-30%);
  left: 0;
  width: 100%;
  max-width: 721px;
  height: 621px;
  background: rgba(0, 213, 228, 0.7);
  filter: blur(200px);
  z-index: -1;

  @media screen and (max-width: 768px) {
   background: rgba(0, 213, 228, 0.9);
   max-width: 200px;
   max-height: 200px;
   bottom: 0;
   transform: translate(-50%, 45%);
  }
 }

 &__heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  &-title {
   max-width: 940px;
   margin: 0 auto;
   margin-bottom: 27px;
   line-height: 126%;
   text-transform: none;
   @include adaptiv-value(font-size, 45, 25, 1);
  }
 }

 &__inner {
  display: flex;
  align-items: center;
 }

 &__img {
  position: relative;

  &::after {
   content: "";
   display: block;
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   max-width: 621px;
   height: 621px;
   background: rgba(0, 213, 228, 0.7);
   filter: blur(200px);
   z-index: -1;

   @media screen and (max-width: 992px) {
    max-width: 420px;
    height: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

   @media screen and (max-width: 768px) {
    right: 0;
    bottom: 0;
    background: rgba(0, 213, 228, 1);
    max-width: 320px;
    height: 320px;
   }

   @media screen and (max-width: 320px) {
    max-width: 200px;
    height: 200px;
   }
  }

  @media screen and (max-width: 992px) {
   align-self: center;
  }
 }

 &__info {
  display: flex;
  flex-direction: column;
  max-width: 840px;
  margin-right: 40px;

  @media screen and (max-width: 992px) {
   margin-right: 0;
  }

  &-head {
   margin-bottom: 30px;

   & p {
    @include adaptiv-value(font-size, 24, 16, 1);
    max-width: 645px;
    line-height: 120%;
   }

   & span {
    font-weight: 700;
   }
  }

  &-body {
   max-width: 740px;
   display: grid;
   grid-template-columns: repeat(2, minmax(200px, 1fr));
   gap: 23px;

   @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
   }
  }

  &-item {
   display: flex;
   align-items: center;
   position: relative;
   z-index: 3;

   & p {
    @include adaptiv-value(font-size, 17, 13, 1);
    max-width: 220px;
    line-height: 141%;
   }
  }

  &-element {
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 114px;
   min-height: 114px;
   font-size: 16px;
   text-align: center;
   overflow: hidden;
   margin-right: 20px;
   position: relative;
   z-index: 5;

   &::before {
    content: "";
    min-width: 90px;
    min-height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
   }

   &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 114px;
    height: 144px;
    background-repeat: no-repeat;
    background-size: contain;
   }


   & p {
    font-weight: 700;
    max-width: 60px;
    word-break: break-word;
    position: relative;
    z-index: 2;
   }
  }

  &-pm {
   &::before {
    background-color: var(--primary-color);
   }

   &::after {
    background-image: url("../img/Ellipse52.svg");
   }
  }

  &-co {
   &::before {
    background-color: var(--bg-primaryblue);
   }

   &::after {
    background-image: url("../img/device-ellipse4.svg");
   }

  }

  &-co2 {
   &::before {
    background-color: var(--bg-lightblue);
   }

   &::after {
    width: 95px;

    background-image: url("../img/device-ellipse3.svg");
   }
  }

  &-no {
   &::before {
    background-color: var(--bg-greyblue);
   }

   &::after {
    background-image: url("../img/device-ellipse2.svg");
   }
  }

 }

 &__title {
  max-width: 1150px;
  margin-bottom: 18px;
  font-weight: 900;
  line-height: 141%;
  text-transform: uppercase;
 }


 &__calculator {
  background-color: var(--bg-dark);
 }

 &__body {
  @include adaptiv-value(margin-bottom, 75, 60, 1);
 }
}

.calculator {
 @include adaptiv-value(padding-top, 60, 20, 1);
 @include adaptiv-value(padding-right, 75, 20, 1);
 @include adaptiv-value(padding-bottom, 50, 20, 1);
 @include adaptiv-value(padding-left, 85, 20, 1);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

 &__region {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-image: url("../img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: 95% 49%;
 }

 &__form {
  display: flex;
  flex-direction: column;
 }

 &__disclaimer {
  text-align: center;

  & p {
   @include adaptiv-value(font-size, 18, 14, 1);

   &:not(:last-child) {
    margin-bottom: 10px;
   }
  }

  & a {
   text-transform: uppercase;
   color: var(--primary-color);
   text-decoration: underline;
  }
 }

 &__btn {
  align-self: center;

  @media screen and (max-width: 992px) {
   align-self: end;
   padding-top: 14px;
   padding-bottom: 14px;
   max-width: 150px;
  }

  @media screen and (max-width: 576px) {
   max-width: 100%;
  }
 }

 &__title {
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px;
 }

 &__inputs {
  display: grid;
  grid-template-columns: minmax(100px, 200px) 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 25px;

  @media screen and (max-width: 992px) {
   grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 576px) {
   grid-template-columns: 1fr;
   gap: 15px;
  }
 }



 &__currency {
  opacity: 1;

  &::placeholder {
   opacity: 1;
   color: var(--light-color);
  }
 }

 & input,
 select {
  font-size: 14px;
  height: 100%;
  width: 100%;
  padding: 15px;
  background-color: var(--bg-dark);
  border: 1px solid var(--light-color);
  color: var(--light-color);
 }

 & select {
  color: var(--light-color);
  font-weight: 500;

  &.accented {
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
  }
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
 }

 input[type=number] {
  -moz-appearance: textfield;
 }



 &__label {
  display: flex;
  flex-direction: column;

  & span {
   font-size: 14px;
   margin-bottom: 10px;
   font-weight: 700;
  }
 }

 &__results {
  display: none;

  &.active {
   display: block;
  }

  &-body {
   // height: 100%;
  }

  &-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
   gap: 36px;
   @include adaptiv-value(margin-bottom, 30, 20, 1);

   @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
   }
  }

  &-item {
   & .cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid var(--primary-color);
    padding: 17px;
    flex: 0 1 50%;
    min-height: 140px;

    @media screen and (max-width: 576px) {
     border-right: none;
     border-bottom: 1px solid var(--primary-color);
     min-height: unset;
    }

    & p {
     font-weight: 700;
     max-width: 184px;
     text-align: center;
     word-break: break-word;
    }
   }

   & .emission {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px;
    min-height: 140px;

    @media screen and (max-width: 576px) {
     min-height: unset;
    }

    & p {
     font-weight: 700;
     max-width: 184px;
     word-break: break-word;
     text-align: center;
    }
   }

   & span {
    text-transform: uppercase;
   }
  }

  &-head {
   padding: 10px;
   border-bottom: 1px solid var(--primary-color);

   & h3 {
    @include adaptiv-value(font-size, 24, 18, 1);
    text-align: center;
   }
  }

  &-inner {
   display: flex;

   @media screen and (max-width: 576px) {
    flex-direction: column;
   }
  }
 }

 &__solution {
  border: 1px solid var(--primary-color);
 }

 &__savings {
  background-color: var(--primary-color);
  color: var(--bg-dark);
  border: 1px solid var(--bg-dark);

  & .calculator__results-head {
   border-bottom: 1px solid var(--bg-dark);
  }

  & .cost {
   border-right: 1px solid var(--bg-dark);

   @media screen and (max-width: 576px) {
    border-right: none;
    border-bottom: 1px solid var(--bg-dark);
   }
  }
 }

 &__cost {
  &-head {
   margin-bottom: 10px;
   @include adaptiv-value(font-size, 18, 14, 1);
  }

  &-main {
   @include adaptiv-value(font-size, 24, 18, 1);
   margin-top: auto;
  }
 }

 &__emission {
  &-head {
   @include adaptiv-value(font-size, 18, 14, 1);
   margin-bottom: 10px;
  }

  &-main {
   margin-top: auto;
   @include adaptiv-value(font-size, 24, 18, 1);

  }
 }
}