.offer {
 padding-top: 34px;
 position: relative;
 @include adaptiv-value(margin-bottom, 117, 50, 1);

 &__head {
  display: flex;
  justify-content: space-between;
  @include adaptiv-value(margin-bottom, 50, 20, 1);

  @media screen and (max-width: 768px) {
   flex-direction: column;
  }
 }

 &__info {
  max-width: 585px;
  align-self: flex-end;
  padding-bottom: 8px;
  @include adaptiv-value(font-size, 24, 16, 1);

  @media screen and (max-width: 768px) {
   max-width: 380px;
  }

  & p {
   color: var(--light-color);
   line-height: 120%;
  }
 }

 &__title {
  @include adaptiv-value(font-size, 60, 30, 1);
  font-weight: 900;
  max-width: 703px;
  line-height: 122%;
  color: var(--light-color);
  margin-right: 30px;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
   max-width: 588px;
   margin-bottom: 20px;
   margin-right: 0;
  }
 }

 &__video {
  max-width: 100%;

  &-item {
   width: 100%;
   max-height: 693px;
   object-fit: cover;

  }
 }
}