.offer {
 padding-top: 34px;
 position: relative;
 @include adaptiv-value(margin-bottom, 117, 50, 1);

 @media screen and (max-width: 576px) {
  margin-bottom: 0;
  padding-bottom: 190px;
 }

 &__inner {
  position: relative;
 }

 &__head {
  display: flex;
  justify-content: space-between;
  @include adaptiv-value(margin-bottom, 50, 20, 1);

  @media screen and (max-width: 768px) {
   flex-direction: column;
  }
 }

 &__decor {
  height: 100%;

  &-item {
   position: absolute;
   width: 238px;
   height: 238px;
   border-radius: 50%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   left: 22%;
   top: 24%;
   z-index: 3;

   @media screen and (max-width: 1200px) {
    top: 28%;
   }

   @media screen and (max-width: 1024px) {
    width: 180px;
    height: 180px;
    top: 30%;
   }

   @media screen and (max-width: 992px) {
    top: 35%;
   }

   @media screen and (max-width: 768px) {
    width: 150px;
    height: 150px;
    left: 5%;
    top: 28%;
    transform: translateX(0);
   }

   @media screen and (max-width: 576px) {
    width: 180px;
    height: 180px;
    right: 0;
    bottom: 6%;
    top: unset;
    left: unset;
   }

   @media screen and (max-width: 475px) {
    width: 150px;
    height: 150px;
   }

   & img {
    position: absolute;
    top: 0;
    left: 0;
    animation: rotation 12s infinite linear;
   }

   & p {
    text-transform: uppercase;
    max-width: 163px;
    color: var(--primary-color);
    font-family: "Inter", Arial, sans-serif;
    line-height: 120%;
    font-size: 43px;
    font-weight: 900;
    text-align: center;

    @media screen and (max-width: 1024px) {
     font-size: 30px;
    }

    @media screen and (max-width: 768px) {
     font-size: 24px;
    }

    @media screen and (max-width: 576px) {
     font-size: 30px;
    }

    @media screen and (max-width: 475px) {
     font-size: 24px;
    }
   }

  }
 }



 &__info {
  max-width: 585px;
  align-self: flex-end;
  padding-bottom: 8px;
  @include adaptiv-value(font-size, 24, 16, 1);

  @media screen and (max-width: 768px) {
   max-width: 380px;
  }

  @media screen and (max-width: 576px) {
   max-width: unset;
  }

  & p {
   color: var(--light-color);
   line-height: 120%;
  }
 }

 &__title {
  @include adaptiv-value(font-size, 60, 30, 1);
  font-weight: 900;
  max-width: 703px;
  line-height: 122%;
  color: var(--light-color);
  margin-right: 30px;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
   max-width: 588px;
   margin-bottom: 20px;
   margin-right: 0;
  }
 }

 &__video {
  max-width: 100%;

  &-item {
   width: 100%;
   max-height: 693px;
   object-fit: fill;
  }
 }
}

@keyframes rotation {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(-360deg);
 }
}