:root {
 --font-family: "Rubik";
 --container-width: 1476px;
 --primary-color: #00D5E4;
 --light-color: #FFFFFF;
 --bg-dark: #2D2D2D;
 --bg-lightdark: #353535;
 --bg-extradark: #0C0A0A;
 --bg-primaryblue: #08AFDD;
 --bg-lightblue: #0CE7F7;
 --bg-greyblue: #6AC9E3;
}